/*
** Remove styles below; only here as a test
*/

body
  font-family: font-serif
  color: color-brand-main

button
  font-family: font-sans
  color: red
  background-color: transparent
  border: 2px solid red

  &:hover
    color: white
    background-color: red

img
  max-width: 50%

