@import config

/*
** Remove styles below; only here as a test
** This file should only contain @import files
*/

body
  font-family: font-serif
  color: color-brand-main

button
  font-family: font-sans

img
  max-width: 50%

