/*
** This file should only contain @import files
*/

@import config        //- Contain the stylus variables
@import normalize     //- Library for better css reset

@import main          //- This is the main css file